@font-face {
    font-family: 'Sahel';
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'), url('../fonts/Sahel.woff') format('woff'), url('../fonts/Sahel.ttf') format('truetype')
}

body.rtl, body.rtl .press-this a.wp-switch-editor, .rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6, .rtl #wpadminbar * {
    font-family: Sahel, GanjNamehSans, myriad-pro, tahoma, sans-serif;
}

.has-dfw div.mce-toolbar-grp .mce-toolbar.mce-first {
    padding-right: 0;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-wp-dfw, .qt-dfw {
    right: initial;
}


/* ----------------- DASHBOARD WIDGETS ---------------------- */

#dashboard-widgets-wrap .postbox {
    box-shadow: 0 8px 15px -8px rgba(0, 0, 0, 0.2), 0 1px 25px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
}

#dashboard-widgets-wrap .metabox-holder .postbox>h3, #dashboard-widgets-wrap .metabox-holder .stuffbox>h3, #dashboard-widgets-wrap .metabox-holder h2.hndle, #dashboard-widgets-wrap .metabox-holder h3.hndle {
    padding: 14px 18px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

#dashboard-widgets-wrap.postbox .inside {
    padding: 0 18px 18px;
    margin: 18px 0;
    border-radius: 0 0 4px 4px;
}

#dashboard-widgets-wrap .postbox .handlediv {
    width: 48px;
    height: 48px;
}

#dashboard-widgets-wrap .postbox .hndle, .stuffbox .hndle {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 0 0;
}

#dashboard-widgets-wrap .postbox.closed .hndle {
    border-bottom: none;
}

#dashboard-widgets-wrap .postbox.closed {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#dashboard-widgets-wrap #new_authors_steps {
    background: #00796B;
}

#dashboard-widgets-wrap #new_authors_steps * {
    color: #fff;
    border-color: #Fff;
}

#dashboard-widgets-wrap .post-list-item {
    background: #f9f9f9;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
}

#dashboard-widgets-wrap .post-list-item h2 {
    text-align: center;
    margin-bottom: 10px !important;
}

#dashboard-widgets-wrap .post-list-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

#dashboard-widgets-wrap .post-list-item p {
    text-align: justify;
}

#dashboard-widgets-wrap .text-green {
    color: #4CAF50;
}

#dashboard-widgets-wrap .text-blue {
    color: #1976D2;
}

#dashboard-widgets-wrap .inside .table-view-widget span.right-icon {
    float: right;
    margin: 0 6px 0 15px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    width: 30px;
    text-align: center;
    margin-left: 12px;
}

#dashboard-widgets-wrap .inside .table-view-widget .top-info {
    padding: 0;
    font-size: 23px;
    height: initial;
    line-height: initial;
}

#dashboard-widgets-wrap .inside .table-view-widget {
    width: 100%;
}

#dashboard-widgets-wrap #author_information .inside {
    padding: 0;
    margin: 0;
}

#dashboard-widgets-wrap .inside .table-view-widget td {
    padding: 10px;
}

#dashboard-widgets-wrap .inside .table-view-widget .bellow-desc {
    color: #777;
}

#dashboard-widgets-wrap .inside .table-view-widget td {
    border-bottom: 1px solid #eee;
}

#dashboard-widgets-wrap .inside .table-view-widget td:hover {
    background: #f9f9f9;
}

#dashboard-widgets-wrap h3 {
    font-size: 16px;
    line-height: 1.7em;
}


/* woocommerce add_note textarea box */

.add_note #add_order_note {
    min-height: 300px;
}
