// top menu
#topMenu {
  position: absolute;
  display: block;
  width: 100%;
  right: 0;
  padding: 0 150px;
  height: 60px;
  z-index: 100;
  box-shadow: inset 0 60px 60px -60px rgba(0, 0, 0, 0.8);
  a {
    color: #000;
    opacity: 1;
  }
  #the-top-primary-menu {
    float: right;
    > div > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        float: right;
        margin: 0 2px;
      }
      li.menu-item.pay-attention {
        animation: blink-opacity 2.4s infinite alternate-reverse;
        &.red-text a {
          color: $pay_attention_red_color;
        }
        &.blue-text a {
          color: $pay_attention_blue_color;
        }
        &:hover {
          animation: none;
        }
      }
    }
  }
  #the-top-primary-menu > div > ul a,
  .login-register-links a {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px $really_dark_main_color, 0 0 20px $dark_main_color_2,
      0 0 40px #000;
  }
  > #site-logo-name {
    font-size: 1em;
  }
  #the-top-primary-menu > div > ul > li > a:hover,
  .login-register-links a:hover {
    color: #fff;
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  &.block #the-top-primary-menu > div > ul > li > a,
  &.block #rightMenuToggle,
  #the-top-primary-menu > div > ul > li > a:before,
  #rightMenuToggle:before,
  .login-register-links a:before,
  &.block .login-register-links a {
    transition: none;
  }
}

#topMenu #the-top-primary-menu,
#user-menu.login-register-links {
  margin: 8px 0;
}

#topMenu #the-top-primary-menu > div > ul > li > a,
#rightMenuToggle,
#topMenu > #site-logo-name,
#topMenu .login-register-links a {
  display: inline-block;
  padding: 6px 16px;
}

#topMenu #the-top-primary-menu > div > ul > li > a:before,
#rightMenuToggle:before,
#topMenu .login-register-links a:before {
  position: absolute;
  content: "";
  background: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scale3d(0, 3, 1);
  /* transition: all 0.3s cubic-bezier(1, 0.68, 0.16, 0.9); */
  transform-origin: left;
  opacity: 0;
}

#topMenu #the-top-primary-menu > div > ul > li > a,
#topMenu .login-register-links a,
#rightMenuToggle {
  position: relative;
}

#topMenu,
#topMenu #the-top-primary-menu > div > ul > li > a,
#rightMenuToggle,
#topMenu.block #the-top-primary-menu > div > ul > li > a:hover,
#topMenu.block #rightMenuToggle:hover,
#topMenu #the-top-primary-menu > div > ul > li > a:hover:before,
#topMenu #rightMenuToggle:hover:before,
#topMenu .login-register-links a,
#topMenu.block .login-register-links a:hover,
#topMenu .login-register-links a:hover:before {
  transition: all 0.4s, background 0.3s,
    color 0.3s cubic-bezier(1, 0.68, 0.16, 0.9), opacity 0.3s, transform 0.3s;
}

#top-logo,
#rightMenuToggle {
  opacity: 0;
  transition: all 0.3s;
  display: none;
}

#top-logo {
  float: right;
  > * {
    float: right;
    line-height: 40px;
    margin: 0;
    height: 40px;
  }
  h1#site-logo-name {
    font-size: 1em;
    margin-right: 10px;
  }
  &.toggle-top-menu #top-logo {
    display: none !important;
  }
  &.toggle-top-menu #the-top-primary-menu,
  &.toggle-top-menu #user-menu {
    display: initial;
  }
  > span:before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    top: -1px;
    right: -1px;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
    transition: all 0.2s;
  }
  > span {
    position: relative;
  }
  &:hover > span:before {
    transform: scale(0.9);
    box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(0, 0, 0, 0.4), 0 0 20px 2px #fff;
    opacity: 1;
  }
}

#rightMenuToggle {
  float: right;
  cursor: pointer;
  width: 60px;
  text-align: center;
  box-shadow: inset 3px 0 rgba(0, 0, 0, 0.1);
  margin-left: 6px;
  display: none;
}

// ajax login
form#popup-login-form {
  display: none;
  background-color: #ffffff;
  position: fixed;
  top: 80px;
  max-height: 90vh;
  max-height: calc(100vh - 110px);
  overflow-y: auto;
  padding: 30px 30px 10px;
  width: 350px;
  z-index: 999;
  left: 50%;
  margin-left: -175px;
  text-align: center;
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  a.close-login-form {
    color: #aaa;
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    background: #eee;
  }
  a.close-login-form:hover {
    color: #888;
  }
  p.status {
    display: none;
  }
  &.show-login-form {
    display: block;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 6px -4px $color2342, 0 8px 0 -4px #fff,
      0 11px 6px -8px $color2342, 0 16px 0 -8px #fff,
      0 19px 6px -12px $color2342, 0 24px 0 -12px #fff,
      0 27px 6px -16px $color2342, 0 16px 50px 0px $color2342;
    animation-name: start;
    animation-duration: 1.7s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.3, 0, 0.48, 1.28);
  }
  input#user_login,
  input#user_pass {
    background: transparent;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.14);
    margin: 0 0 20px;
    direction: ltr;
    color: #555;
    transition: all 0.4s;
    display: block;
    width: 100%;
    :focus {
      color: $color223;
      border-color: $color223;
    }
  }
  &.show-login-form label {
    text-align: right;
    display: block;
  }
  a {
    color: #aaa;
    &:hover {
      color: #555;
      text-shadow: 0 0 0.01px;
    }
  }
  .wp-submit {
    box-shadow: none;
    color: #fff;
    float: right;
    width: 48%;
    font-size: 20px;
    line-height: 40px;
    height: 50px;
    padding: 2px 10px;
    transition: color 0.4s;
    margin: 10px 1%;
  }
  p {
    margin-bottom: 0;
  }
}

@-webkit-keyframes start {
  0%,
  20% {
    transform: perspective(500px) rotateX(90deg);
    transform-origin: top;
    max-height: 50px;
    overflow: hidden;
    padding: 0;
    opacity: 0.4;
  }
  48%,
  52% {
    transform: perspective(160px) rotateX(0deg);
    opacity: 1;
    max-height: 110px;
    margin-top: 300px;
    overflow: hidden;
  }
  100% {
    max-height: 1000px;
    overflow: hidden;
  }
}

// user menu
#user-menu {
  float: left;
  padding: 0 20px;
  background: transparent;
  background: none;
  max-height: 50px;
  transform-origin: center;
  transform: scale(1);
  cursor: pointer;
  box-sizing: content-box;
  #curruser-info {
    padding: 10px 0;
    border-bottom: 0px solid transparent;
  }
  #curruser-display-name {
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    margin: 0 0 0 15px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 1px $really_dark_main_color, 0 0 20px $dark_main_color_2,
      0 0 40px #000;
  }
  img.avatar,
  #curruser-display-name {
    float: left;
  }
  img.avatar {
    border-radius: 100px;
    box-shadow: 0 0px 0 2px #fff, 0 0px 15px 0 rgba(0, 0, 0, 0.8);
    background-color: #fff;
  }
  &.active img.avatar,
  #topMenu.block & img.avatar {
    box-shadow: 0 0 0 2px #fff, 0 0 9px rgba(0, 0, 0, 0.4);
  }
  #curruser-menu {
    margin: 0 -20px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  &.user-loggedin.active {
    background: #f7f7f7;
    box-shadow: 0 5px 20px -8px;
    border-radius: 0 0 3px 3px;
    max-height: 400px;
    transform: scale(1.1);
    transform-origin: top;
  }
  &.active #curruser-display-name {
    color: #000;
    text-shadow: none;
  }
  &.user-loggedin.active #curruser-display-name {
    display: initial;
  }
  &.active #curruser-info {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
  }
}

#curruser-menu {
  ul.menu li.menu-item {
    font-size: 15px;
    border-bottom: 1px solid #f9f9f9;
    a {
      display: block;
      padding: 7px 20px;
      &:hover {
        background: #fff;
        box-shadow: 0 -1px #eee, 0 1px #eee, 0 -7px 10px -10px #bbb,
          0 7px 10px -10px #bbb;
        color: $main_color;
        text-shadow: 0 0 0.1px $color231;
      }
    }
  }
}

#curruser-menu ul.menu li.menu-item a .menu-curruser-menu-container,
.curruser-custom-links {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e9e9e9;
}

#user-menu #curruser-menu > div:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.curruser-custom-links {
  margin-bottom: 7px;
}

#user-menu.active #curruser-menu {
  transform: scaleY(1);
  opacity: 1;
}

#user-menu,
#user-menu * {
  transition: all 0.4s;
}

.small-padding {
  padding: 5px 10px;
}

.menu-item {
  input[type="submit"],
  button[type="submit"] {
    padding: 4px 10px;
    border-radius: 4px;
    box-shadow: 0 2px $c3;
    text-shadow: 0 1px 1px $c3;
    &:hover {
      opacity: 1;
    }
    &:active {
      box-shadow: 0 0;
      margin-top: 2px;
    }
  }
}

// top menu block
#topMenu.block {
  position: fixed;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 3px #eee, 0 -1px 15px #000;
  #the-top-primary-menu > div > ul > li {
    margin: 0;
  }
  #the-top-primary-menu > div > ul > li > a,
  #rightMenuToggle,
  > #site-logo-name,
  .login-register-links a {
    padding: 17px 15px;
    border-radius: 0;
    max-height: 60px;
    box-shadow: none;
    border-radius: 0;
  }
  #the-top-primary-menu > div > ul > li > a:before,
  #rightMenuToggle:before,
  .login-register-links a:before {
    bottom: -3px;
    background: $color1;
    height: 3px;
    transform-origin: top;
    transform: scale3d(1.1, 0, 1);
  }
  #the-top-primary-menu,
  #user-menu.login-register-links {
    margin: 0;
  }
  #user-menu #curruser-info {
    padding: 15px 0;
  }
  #user-menu #curruser-display-name {
    color: #000;
    text-shadow: none;
  }
  #the-top-primary-menu > div > ul a,
  .login-register-links a {
    color: #000;
    text-shadow: none;
  }
  #top-logo {
    padding: 10px 0;
    margin-left: 20px;
  }
  #user-menu {
    margin-left: 60px;
  }
}

#topMenu.block #top-logo,
#rightMenuToggle.show-right-menu-toggle {
  opacity: 1;
  display: initial;
}

#topMenu.block #the-top-primary-menu > div > ul > li > a:hover,
.block #rightMenuToggle:hover,
#topMenu.block #the-top-primary-menu > div > ul > li.active > a,
.block #rightMenuToggle.active,
#topMenu.block .login-register-links a:hover,
#topMenu.block .login-register-links a:active {
  background: $main_color;
  color: #fff !important;
  border-radius: 0;
  opacity: 1;
}

#topMenu #the-top-primary-menu > div > ul > li > a:hover:before,
#topMenu.block #the-top-primary-menu > div > ul > li > a:hover:before,
#topMenu.block #rightMenuToggle:hover:before,
#topMenu.block #rightMenuToggle.active:before,
#topMenu .login-register-links a:hover:before,
#topMenu.block .login-register-links a:hover:before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
