.woocommerce {
	a {
		color: $c3rfe;
		text-decoration: none;
	}
	ul.products {
		.star-rating {
			margin: 0 auto;
		}
		li.product .price {
			color: $c67;
		}
	}
	ul.products li.product:last-child, &-page ul.products li.product:last-child {
		margin-left: 0;
	}
	.products ul, ul.products {
		padding: 0 10%;
	}
}
